.menu-link .pulse .pulse-ring {
    left: -11px;
    top: -7px;
}
.menu-link .svg-icon{
    margin-left: -4px;
}
.aside-menu .menu-nav>.menu-section .menu-text {
    text-transform: unset;
}
.aside:hover{
    width: 265px!important;
}
.aside:hover  .brand-logo{
    display: flex!important;
}
.aside:hover  .menu-arrow{
    display: flex!important;
}
.aside:hover  .menu-text{
    display: flex!important;
}