/*#region loader loading */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
	animation: animate 1.2s ease-in-out infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		height: 40px;
		width: 40px;
	}
	65% {
		height: 70px;
		width: 70px;
	}
}

.loading span {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	animation: rotate 1.2s linear both infinite;
}

@keyframes rotate {
	0%,
	30% {
		transform: rotate(0);
	}
	65% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

.loading span:nth-child(1) {
	top: 0;
	left: 0;
	background: #55d462;
}

.loading span:nth-child(2) {
	top: 0;
	right: 0;
	background: #8675e5;
}

.loading span:nth-child(3) {
	bottom: 0;
	left: 0;
	background: #d84c77;
}

.loading span:nth-child(4) {
	bottom: 0;
	right: 0;
	background: #fd9a3f;
}


/*#endregion 0*/

/*#region galeri modal */
.gallery-modal-body{
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: #E0EDF5 transparent;
  scrollbar-width: thin !important;
}

.gallery-modal-body .single-image-col{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  opacity: .7;
  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.gallery-modal-body .single-image-col:hover{
  opacity: 1;
}
.gallery-modal-body .single-image-col.active {
  opacity: 1;
}
.gallery-modal-body .single-image-col.active img{
  outline: 5px solid orangered;
  outline-offset: -5px;
}
.gallery-modal-body::-webkit-scrollbar {
  width: 1.5rem;
  height: 150px;
  background: transparent;
  border-radius: 18px;
  margin-left: -20px;
}
.gallery-modal-body::-webkit-scrollbar-thumb {
  width: 6px;
  height: 150px;
  border: 0.5em solid transparent;
  background-clip: padding-box;
 border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #E0EDF5;
  -webkit-box-shadow: inset 0 0 0 1px #e0edf5;
 box-shadow: inset 0 0 0 1px #e0edf5;
  cursor: pointer;
}
/*#endregion */

.menu-link {
  align-items: center !important;
}
.menu-link .pulse .pulse-ring {
  left: -11px;
  top: -7px;
}
.menu-link .svg-icon {
  margin-left: -4px;
}
.aside-menu .menu-nav > .menu-section .menu-text {
  text-transform: unset;
}
.aside:hover {
  width: 265px !important;
}
.aside:hover .brand-logo {
  display: flex !important;
}
.aside:hover .menu-arrow {
  display: flex !important;
}
.aside:hover .menu-text {
  display: flex !important;
}
/*#region tagger */

.tagger-container .tags-input {
    list-style: none;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    height: 26px;
    font-size: 14px;
    background: #f3f3f3;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
  }
  

  .tagger-container .tags-input li {
  float: left;
}

.tagger-container .tags {
  background: #28343d;
  color: #00b3ff;
  padding: 5px 20px 5px 8px;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}
.tagger-container ul.tags-input {
  height: min-content;
}
.tagger-container .tags i {
  position: absolute;
  right: 6px;
  top: 3px;
  width: 8px;
  height: 8px;
  content: "";
  cursor: pointer;
  opacity: 0.7;
  font-size: 12px;
}

.tagger-container .tags i:hover {
  opacity: 1;
}

.tagger-container .tags-new input[type="text"] {
  border: 0;
  margin: 0;
  padding: 0 0 0 3px;
  font-size: 14px;
  margin-top: 5px;
  background: transparent;
}

.tagger-container .tags-new input[type="text"]:focus {
  outline: none;
}
.uploaded-image-preview{
  height: auto;
  width: 100%;
  max-height: 400px!important;
  object-fit: contain;
}
.datatables td {
  vertical-align: top!important;
  line-height: 16px; /* fallback */
}
.datatables tr td.blogText{
  cursor: pointer;
}
 th{
  font-family: 'Poppins', sans-serif!important;
  color: #B5B5C3!important;
  transform: .4s ease all;
}
th:hover{
  color: #8d8d8d!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color: #333 !important;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: white;
  background: none!important;
  }
#example_filter{
  float: left;
  color: #333;
  border: 1px solid #aaa9;
    border-radius: 15px;
    padding: 0px 10px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    transform: .3s ease all;
}
#example_filter:focus-within{
  border: 1px solid rgba(11, 169, 255, 0.6);
}
.dataTables_wrapper .dataTables_length{
  float: right!important;
}
.dataTables_wrapper .dataTables_length select {
  cursor: pointer;
  border: 1px solid #aaa9;
  border-radius: 9px;
  padding: 5px;
  background-color: transparent;
  padding: 4px;
}
#example_filter label{
  margin-bottom: 0;
  margin: 3px 0;
}
.dataTables_wrapper .dataTables_filter input{
  cursor: pointer;
  border: none!important;
}
.dataTables_wrapper .dataTables_filter input:focus{
  border: none;
  outline: none;
}
 .btn.btn-delete:hover  .svg-icon svg g [fill]{
   fill: orangered!important;
 }
td.blogText{
  word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 32px; /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*#endregion tagger */